<h2>Post an emergency broadcast <br /><small><em>This is not a test</em></small></h2>
<% form_for @message do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :body, 'Describe what happened' %><br />
    <%= f.text_area :body, :rows => 2 %>
  </p>
  <p>
    <%= f.label :what_to_do, 'What should people do' %><br />
    <%= f.text_area :what_to_do, :rows => 2 %>
  </p>
  
  <p>
    <%= submit_tag "Create" %>
  </p>
  <em>IMPORTANT NOTE - When you create an emergency we will contact everyone that we can in your organization. BE CAREFUL!!!! insert skull and crossbones</em>
<% end %>