<% title "Edit your account" %>
<h2>Settings</h2>
<h3>Services</h3>


<% if @consumer_tokens.empty? %>
  <p>You are currently not connected to any external services.</p>
<% else %>
  <p>You are connected to the following services:</p>
  <ul>
    <% @consumer_tokens.each do |token| %>
      <div class="service">
        <%= link_to image_tag("#{token.service}_up.gif"), oauth_consumer_path(token.class.service_name) %> 
      </div>        
      </li>
    <% end %>
  </ul>
<% end %>

<p>Authorize yellfire to broadcast to any of the services we list below.</p>

<% unless @consumer_tokens.find_by_service('yammer')%>
<div class="service">
  <div>
    <%= link_to image_tag('yammer_up.gif'), @yammer_request_token.authorize_url, :target => "_blank" %>
  </div>
  <div>
    <small>Enter Verification Code from <%= link_to "Yammer auth page", @yammer_request_token.authorize_url %></small>
    <% form_tag yammer_auth_path do %>
      <%= text_field_tag "oauth_verifier" %>
      <%= submit_tag "submit" %>
    <% end %>
  </div>
</div>
<% end %>
<br style="clear:both;">
<% unless @consumer_tokens.find_by_service('twitter')%>
<div class="service">
  <%= link_to image_tag('cohuman_up.gif'), '#' %> 
</div>
<% end %>

  
  
  <!-- Activeated-button.gif
  cohuman_down.gif
  cohuman_up.gif
  facebook_down.gif
  facebook_up.gif
  podio_down.gif
  podio_up.gif
  twitter_down.gif
  twitter_up.gif
  yammer_down.gif
  yammer_up.gif -->

<h3>Basic Contact</h3>
<% form_for @user, :url => user_path(@user.name), :html => {:method => :put, :multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :mailing_list, "Mailing List" %><br />
    <%= f.text_field :mailing_list %>
  </p>
  <p>
    <%= f.label :phone_number, "Phone Number" %><br />
    <%= f.text_field :phone_number %>
  </p>
    
  <p><%= f.submit "Update" %> or <%= link_to "Cancel", root_path %></p>
  
<% end %>